.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: url("./images/heroImagesvg2.svg") top 50% left 50% / cover repeat,
    #e5eeff;
  height: 100%;
  min-height: 0;
  padding: 52px 0px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: url("./images/heroImagesvg2.svg") top 50% left 50% / cover repeat,
    #e5eeff;
  height: 100%;
  min-height: 0;
  padding: 52px 0px 64px;
}
@media (max-width: 930px) {
  .headerHeroSection {
    padding-bottom: 0px;
    background: url("./images/heroImagesvg2.svg") top 129% left 0% / cover repeat,
      #e5eeff;
  }
}
@media (max-width: 930px) {
  .headerHeroSection {
    padding-bottom: 0px;
    background: url("./images/heroImagesvg2.svg") top 129% left 0% / cover repeat,
      #e5eeff;
  }
}
.navbar:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: flex;
}
.freeBox__xvGtH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 870px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 8px;
}
@media (max-width: 930px) {
  .freeBox__xvGtH {
    height: 700px;
    flex-shrink: 0;
  }
}
.freeBox__c58Xa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1__iuQn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 944px;
  margin-top: 30px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h1__iuQn {
    max-width: 800px;
  }
}
.text__d7QTh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 903px;
  margin-top: 52px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__d7QTh {
    max-width: 700px;
    margin-top: 18px;
  }
}
.freeBox__eCbv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 52px 8px 8px;
}
.freeBox__eCbv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__eCbv > :global(.__wab_flex-container) > *,
.freeBox__eCbv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eCbv > :global(.__wab_flex-container) > picture > img,
.freeBox__eCbv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.freeBox__eCbv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 52px 8px 8px;
}
@media (max-width: 930px) {
  .freeBox__eCbv {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }
}
@media (max-width: 930px) {
  .freeBox__eCbv > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 930px) {
  .freeBox__eCbv > :global(.__wab_flex-container) > *,
  .freeBox__eCbv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eCbv > :global(.__wab_flex-container) > picture > img,
  .freeBox__eCbv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
@media (max-width: 930px) {
  .freeBox__eCbv {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }
}
.button__bynDu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 0px;
}
@media (max-width: 930px) {
  .button__bynDu:global(.__wab_instance) {
    width: 284px;
  }
}
.svg__b5L9E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__qcuaR {
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 22px;
  font-weight: 500;
  max-width: 148px;
  width: 100%;
  padding-left: 0px;
  margin-left: 6px;
  margin-right: 5px;
  color: #eeeeee;
  font-size: 18px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__qcuaR {
    width: 100%;
    margin-left: 23px;
    padding-top: 1px;
    padding-bottom: 3px;
    margin-bottom: 0px;
    margin-top: 2px;
    min-width: 0;
  }
}
.svg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 6px;
  margin-left: 24px;
}
@media (max-width: 930px) {
  .svg {
    margin-top: 3px;
  }
}
.button__z6VRh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 930px) {
  .button__z6VRh:global(.__wab_instance) {
    width: 284px;
  }
}
.svg__s39N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__yr019 {
  padding-top: 4px;
  padding-bottom: 4px;
}
@media (max-width: 930px) {
  .text__yr019 {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 150%;
    min-width: 0;
  }
}
.svg__gqUsD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.section__usN9A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 0px;
}
@media (max-width: 930px) {
  .section__usN9A:global(.__wab_instance) {
    margin-top: 4px;
  }
}
.img__kEski {
  position: absolute;
  object-fit: cover;
  max-width: 1140px;
  margin-left: 30px;
  margin-right: 30px;
  left: auto;
  top: auto;
  right: auto;
  margin-bottom: 0px;
  bottom: 464px;
}
.img__kEski > picture > img {
  object-fit: cover;
}
.img__kEski > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img__kEski {
    position: relative;
    left: auto;
    top: auto;
    z-index: 1;
    bottom: auto;
    right: auto;
    margin-top: -130px;
    margin-left: 18px;
    margin-right: 18px;
  }
}
.freeBox__fEi0R {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1124px;
  margin-top: 339px;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 930px) {
  .freeBox__fEi0R {
    margin-top: 0px;
    padding-top: 65px;
  }
}
.freeBox__cvA2Q {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__vAuK5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 930px) {
  .column__vAuK5 {
    padding: 0px;
  }
}
.h3__p9NF9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__jpYei {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 29px;
  font-weight: 500;
  min-width: 0;
  margin: 12px 0px 0px;
}
@media (max-width: 930px) {
  .text__jpYei {
    line-height: 22px;
  }
}
.column__zvRwJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 930px) {
  .column__zvRwJ {
    padding: 40px 0px 0px;
  }
}
.h3__a3WsK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__vgm5O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 12px;
  font-weight: 500;
  min-width: 0;
}
.column___3Xht7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 930px) {
  .column___3Xht7 {
    padding: 40px 0px 0px;
  }
}
.h3__wApKj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___5HBz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 12px;
  font-weight: 500;
  min-width: 0;
}
.more:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__hzkaK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  background: url("./images/maskGroupsvg.svg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 930px) {
  .freeBox__hzkaK {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0px;
  }
}
.freeBox__vd1Tq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 650px;
  margin-left: 8px;
  padding: 128px 0px 8px 8px;
}
@media (max-width: 930px) {
  .freeBox__vd1Tq {
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
    align-self: center;
    margin-left: 0px;
    padding: 100px 23px 0px;
  }
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-Fckw7ZDLBe4yij);
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__e3Wui {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 394px;
  margin-top: 26px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__e3Wui {
    align-self: flex-start;
  }
}
.freeBox__yyPtl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 32px;
  max-height: 32px;
  min-width: 0;
  padding: 0px;
}
.img__djCtt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__djCtt > picture > img {
  object-fit: cover;
}
.img__djCtt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img__djCtt {
    max-width: 24px;
  }
}
.freeBox__dllds {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__nnoEg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Fckw7ZDLBe4yij);
  line-height: 29px;
  font-weight: 500;
  text-align: left;
  padding-left: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__nnoEg {
    padding-left: 12px;
  }
}
.freeBox__mqEi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 394px;
  margin-top: 26px;
  min-width: 0;
  padding: 0px;
}
.freeBox___4Gvka {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 32px;
  max-height: 32px;
  min-width: 0;
  padding: 0px;
}
.img___6UgN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___6UgN > picture > img {
  object-fit: cover;
}
.img___6UgN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img___6UgN {
    max-width: 24px;
  }
}
.freeBox__w47Wu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__hMpvp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Fckw7ZDLBe4yij);
  line-height: 29px;
  font-weight: 500;
  text-align: left;
  padding-left: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__hMpvp {
    padding-left: 12px;
  }
}
.freeBox___4T0HL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 394px;
  margin-top: 26px;
  min-width: 0;
  padding: 0px;
}
.freeBox__lcSbG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 32px;
  max-height: 32px;
  min-width: 0;
  padding: 0px;
}
.img___1U7Kw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___1U7Kw > picture > img {
  object-fit: cover;
}
.img___1U7Kw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img___1U7Kw {
    max-width: 24px;
  }
}
.freeBox___3HItj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__xmB4A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Fckw7ZDLBe4yij);
  line-height: 29px;
  font-weight: 500;
  text-align: left;
  padding-left: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__xmB4A {
    padding-left: 12px;
  }
}
.freeBox__oox5B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 394px;
  margin-top: 26px;
  margin-bottom: 128px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__oox5B {
    margin-bottom: 78px;
  }
}
.freeBox__woh70 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 32px;
  max-height: 32px;
  min-width: 0;
  padding: 0px;
}
.img__vIwlH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__vIwlH > picture > img {
  object-fit: cover;
}
.img__vIwlH > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img__vIwlH {
    max-width: 24px;
  }
}
.freeBox___02XcY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__jdI3U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Fckw7ZDLBe4yij);
  line-height: 29px;
  font-weight: 500;
  text-align: left;
  padding-left: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__jdI3U {
    padding-left: 12px;
  }
}
.freeBox__twtC9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 554px;
  margin-left: 0px;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 930px) {
  .freeBox__twtC9 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.img__e1WNx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1440px;
  height: 700px;
  margin-left: 329px;
  flex-shrink: 0;
}
.img__e1WNx > picture > img {
  object-fit: cover;
}
.img__e1WNx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img__e1WNx {
    margin-left: 0px;
    width: 100%;
    height: 100%;
    max-width: 284px;
    max-height: 174px;
    min-width: 0;
    min-height: 0;
    display: none !important;
  }
}
.img__edMvo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
  margin: -14px 10px -75px;
}
.img__edMvo > picture > img {
  object-fit: cover;
}
.img__edMvo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img__edMvo {
    display: inline-block !important;
  }
}
.section__am8EK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__p9Ovm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 100px 0px 0px;
}
@media (max-width: 930px) {
  .freeBox__p9Ovm {
    max-width: 800px;
    padding-left: 22px;
    padding-right: 22px;
  }
}
.h1__b61Gq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___70JIu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 939px;
  margin-top: 32px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text___70JIu {
    max-width: 600px;
  }
}
.freeBox__xMzgJ {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  margin-bottom: 52px;
  min-width: 0;
  padding: 0px;
}
.freeBox__xMzgJ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
.freeBox__xMzgJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  margin-bottom: 52px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__xMzgJ {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 930px) {
  .freeBox__xMzgJ > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 930px) {
  .freeBox__xMzgJ > :global(.__wab_flex-container) > *,
  .freeBox__xMzgJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xMzgJ > :global(.__wab_flex-container) > picture > img,
  .freeBox__xMzgJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media (max-width: 930px) {
  .freeBox__xMzgJ {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 500px;
  height: 70px;
  flex-shrink: 0;
}
.svg__ihQfa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__yyzuG {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__sMAjI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 24px;
}
@media (max-width: 930px) {
  .button__sMAjI:global(.__wab_instance) {
    width: 100%;
    max-width: 500px;
    margin-left: calc(0px + 0px) !important;
    min-width: 0;
  }
}
.svg__ghMeh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (max-width: 930px) {
  .text__mvThV {
    width: 100%;
    min-width: 0;
  }
}
.svg__siEze {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.img___9M0W {
  position: relative;
  object-fit: cover;
  max-width: 1140px;
  max-height: 700px;
  align-self: center;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  margin-bottom: 0px;
}
.img___9M0W > picture > img {
  object-fit: cover;
}
.img___9M0W > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img___9M0W {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    margin-top: 80px;
  }
}
.footerSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
