.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #032974;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__cs9Kl {
  display: flex;
  position: relative;
  max-width: var(--token-24_CO5MFy1Tmrq);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__cs9Kl > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
}
.freeBox__cs9Kl > :global(.__wab_flex-container) > *,
.freeBox__cs9Kl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cs9Kl > :global(.__wab_flex-container) > picture > img,
.freeBox__cs9Kl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
.freeBox__cs9Kl {
  display: flex;
  position: relative;
  max-width: var(--token-24_CO5MFy1Tmrq);
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: flex-start;
  min-width: 0;
}
@media (max-width: 930px) {
  .freeBox__cs9Kl {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 930px) {
  .freeBox__cs9Kl > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__cs9Kl > :global(.__wab_flex-container) > *,
  .freeBox__cs9Kl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cs9Kl > :global(.__wab_flex-container) > picture > img,
  .freeBox__cs9Kl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 930px) {
  .freeBox__cs9Kl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.freeBox__tzIbX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 387px;
  height: 296px;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__tzIbX {
    justify-content: center;
    align-items: center;
  }
}
.text__xy3AR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: var(--token-Fckw7ZDLBe4yij);
  font-family: "Montserrat", sans-serif;
  align-self: flex-start;
  text-align: left;
  font-size: 18px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__xy3AR {
    text-align: center;
    width: 100%;
    max-width: 346px;
    align-self: center;
    min-width: 0;
  }
}
.freeBox__vvjRm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 166px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__vvjRm {
    justify-content: center;
    align-items: center;
  }
}
.h4__uqTh6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__uqTh6 {
    text-align: center;
    margin-top: 46px;
  }
}
.button__sYvlH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__sYvlH:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__of0NV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ajLcM {
  color: var(--token-Fckw7ZDLBe4yij);
}
@media (max-width: 930px) {
  .text__ajLcM {
    text-align: center;
  }
}
.svg__n20UC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__fRr1H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__fRr1H:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__gqbsD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__fAtbA {
  color: var(--token-Fckw7ZDLBe4yij);
}
@media (max-width: 930px) {
  .text__fAtbA {
    text-align: center;
  }
}
.svg__lmbvC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__mcrN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 321px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__mcrN {
    justify-content: center;
    align-items: center;
  }
}
.h4__ypXs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__ypXs {
    text-align: center;
    margin-top: 46px;
  }
}
.text___4V1Yi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 249px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  margin-top: 32px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text___4V1Yi {
    text-align: center;
    align-self: center;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (max-width: 930px) {
  .textInput:global(.__wab_instance) {
    height: 50px;
    width: 284px;
    flex-shrink: 0;
  }
}
.svg__xhDp7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__wLw1P {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__suVyT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 930px) {
  .button__suVyT:global(.__wab_instance) {
    align-self: center;
    height: 50px;
    width: 284px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }
}
.svg__y2YiI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (max-width: 930px) {
  .text__c0MaE {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.svg__eElnw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.freeBox__zEtZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
@media (max-width: 930px) {
  .freeBox__zEtZ {
    align-self: center;
  }
}
.text__g2GQm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 0px;
  color: var(--token-Fckw7ZDLBe4yij);
  margin-top: 100px;
}
